<% include ../header.ejs %>
<section class="author-wrap">
    <div class="container">
        <div class="author-inner">
            <h1 class="page-title">找机构</h1>
            <% include ../widget/author_filter_widget.ejs %>
            <% include ../widget/author_widget.ejs %>
        </div>
    </div>
</section>
<% include ../footer.ejs %>
