<footer class="footer-wrap">
    <div class="container">
        <div class="footer-inner">
            <dl class="col-sm-2 map-item">
                <dt><a href="">新税界</a></dt>
                <dd><a href="">创作者</a></dd>
                <dd><a href="">作品</a></dd>
                <dd><a href="">专栏</a></dd>
                <dd><a href="">小组</a></dd>
                <dd><a href="">集市</a></dd>
            </dl>
            <dl class="col-sm-2 map-item">
                <dt>联系与合作</dt>
                <dd><a href="">联系我们</a></dd>
                <dd><a href="">用户反馈</a></dd>
                <dd><a href="">帮助中心</a></dd>
            </dl>
            <dl class="col-sm-2 map-item">
                <dt><a href="">移动客户端</a></dt>
                <dd><a href="">金象 iPhone 版</a></dd>
                <dd><a href="">金象 Android 版</a></dd>
                <dd><a href="">金象 HD</a></dd>
            </dl>
            <dl class="col-sm-3 pull-right map-item">
                <dt><a href="">关于我们</a></dt>
                <dd><a href="">新浪微博：@金象微电影网</a></dd>
                <dd><a href="">官方 QQ：1606173530</a></dd>
                <dd><a href="">官方微信：</a></dd>
            </dl>
        </div>
    </div>
</footer>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="javascripts/ie10-viewport-bug-workaround.js"></script>
<!-- baidu analytics -->

</body>
</html>