<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title><%= title %></title>
    <link href="/stylesheets/wyq.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
<header class="header-wrap">
    <div class="container">
        <div class="header-inner clearfix">
            <div class="logo-wrap"><a class="logo" href="">新锐界</a></div>
            <ul class="nav">
                <li><a href="">首页</a></li>
                <li><a href="">创作者</a></li>
                <li><a href="">作品</a></li>
                <li><a href="">专栏</a></li>
                <li><a href="">小组</a></li>
                <li><a href="">集市</a></li>
            </ul>
            <div class="mem-login">
                <a class="btn-reg" href="">马上注册</a><i class="divide">|</i>
                <a class="btn-login" href="">登录</a>
            </div>
        </div>
    </div>
</header>