<% include header.ejs %>
<div class="container">
    <h1>微影圈-网站地图</h1>
    <dl>
        <dt>首页</dt>
        <dd><a href="" target="_blank">首页</a></dd>
    </dl>
    <dl>
        <dt>创作者</dt>
        <dd><a href="/author/author_person" target="_blank">创作者-找个人</a></dd>
        <dd><a href="/author/author_org" target="_blank">创作者-找机构</a></dd>
        <dd><a href="/author/author_attention" target="_blank">创作者-我的创作者-我关注的创作者</a></dd>
        <dd><a href="/author/author_blog" target="_blank">创作者-个人页</a></dd>
    </dl>
    <dl>
        <dt>作品</dt>
        <dd><a href="/works/works_video_list" target="_blank">作品-视频作品</a></dd>
        <dd><a href="/works/works_video_content" target="_blank">作品-视频作品内页</a></dd>
        <dd><a href="/works/works_video_pub" target="_blank">作品-发布视频作品</a></dd>
        <dd><a href="/works/works_video_col" target="_blank">作品-我收藏的视频作品</a></dd>
    </dl>
    <dl>
        <dt>专栏</dt>
        <dd><a href="/column/column_myatt" target="_blank">专栏-我的关注</a></dd>
        <dd><a href="/column/column_unmyatt" target="_blank">专栏-我的关注-未关注专栏</a></dd>
        <dd><a href="/column/column_article_list" target="_blank">专栏-最新文章</a></dd>
        <dd><a href="/column/column_article_content" target="_blank">专栏-文章内页</a></dd>
        <dd><a href="/column/column_article_hots" target="_blank">专栏-热门文章</a></dd>
        <dd><a href="/column/column_rec" target="_blank">专栏-专栏推荐</a></dd>
        <dd><a href="/column/column_content" target="_blank">专栏-专栏内页</a></dd>
        <dd><a href="/column/column_article_pub" target="_blank">专栏-发表文章</a></dd>
        <dd><a href="/column/column_edit" target="_blank">专栏-编辑专栏</a></dd>
        <dd><a href="/column/column_myarticle" target="_blank">专栏-我的专栏-我发表的文章</a></dd>
        <dd><a href="/column/column_myatt_col" target="_blank">专栏-我的专栏-我关注的专栏</a></dd>
    </dl>
    <dl>
        <dt>小组</dt>
        <dd><a href="/group/group_mytopic" target="_blank">小组-我的话题</a></dd>
        <dd><a href="/group/group_mytopic_unjoin" target="_blank">小组-我的话题-未加入小组</a></dd>
        <dd><a href="/group/group_topic_list" target="_blank">小组-最新话题</a></dd>
        <dd><a href="/group/group_topic_hots" target="_blank">小组-热门话题</a></dd>
        <dd><a href="/group/group_rec" target="_blank">小组-小组推荐</a></dd>
        <dd><a href="/group/group_topic_content" target="_blank">小组-话题内页</a></dd>
        <dd><a href="/group/group_content" target="_blank">小组-小组内页</a></dd>
        <dd><a href="/group/group_topic_pub" target="_blank">小组-发新话题</a></dd>
        <dd><a href="/group/group_create" target="_blank">小组-创建小组</a></dd>
        <dd><a href="/group/group_topic_par" target="_blank">小组-我的小组-我参与的话题</a></dd>
        <dd><a href="/group/group_join" target="_blank">小组-我的小组-我加入的小组</a></dd>
    </dl>
    <dl>
        <dt>集市</dt>
        <dd><a href="/market/market_list" target="_blank">集市-最新发布</a></dd>
        <dd><a href="/market/market_talent" target="_blank">集市-人员招募</a></dd>
        <dd><a href="/market/market_info_pub" target="_blank">集市-发布信息</a></dd>
        <dd><a href="/market/market_info_content" target="_blank">集市-信息内页</a></dd>
        <dd><a href="/market/market_my" target="_blank">集市-我的集市</a></dd>
    </dl>
    <dl>
        <dt>搜索</dt>
        <dd><a href="/search/search_person" target="_blank">搜索-个人</a></dd>
        <dd><a href="/search/search_org" target="_blank">搜索-机构</a></dd>
        <dd><a href="/search/search_video" target="_blank">搜索-视频</a></dd>
        <dd><a href="/search/search_article" target="_blank">搜索-文章</a></dd>
        <dd><a href="/search/search_column" target="_blank">搜索-专栏</a></dd>
        <dd><a href="/search/search_topic" target="_blank">搜索-话题</a></dd>
        <dd><a href="/search/search_group" target="_blank">搜索-小组</a></dd>
        <dd><a href="/search/search_info" target="_blank">搜索-信息</a></dd>
    </dl>
</div>
<% include footer.ejs %>
