@charset "UTF-8";
// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
	background-color: transparent;
	@include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
	border-color: transparent;
  }
  &:hover,
  &:focus {
	color: $link-hover-color;
	text-decoration: $link-hover-decoration;
	background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
	&:hover,
	&:focus {
	  color: $btn-link-disabled-color;
	  text-decoration: none;
	}
  }
}
