@charset "UTF-8";
.footer-wrap{
  background-color: $gray-darker;
  margin-top: 30px;
  padding-top: 20px;
  color: $gray-color;
  dt{
	font-size: 16px;
  }
  dt,dd{
	line-height: 2;
  }
  a {
	color: $gray-color;
	text-decoration: none;

	&:hover,
	&:focus {
	  color: $brand-warning;
	  text-decoration: $link-hover-decoration;
	}

	&:focus {
	  @include tab-focus;
	}
  }
}

//@media (max-width: 768px) {
//  .container{
//	width: 750px;
//	padding: auto 15px;
//  }
//}