<% include ../header.ejs %>
<section class="works-wrap">
    <div class="container">
        <div class="auther-inner">
            <h1 class="page-title">视频作品</h1>
            <ul class="list-unstyled p-sub-title clearfix">
                <li class="cur"><a href="">我收藏的视频作品</a></li>
                <li><a href="">我发布的视频作品</a></li>
            </ul>
            <% include ../widget/works_widget.ejs %>
        </div>
    </div>
</section>
<% include ../footer.ejs %>
