<% for (i=1;i<=5;i++) { %>
<article>
    <h4><a href="">一部超低成本的影片如何制作完成且走向世界</a></h4>
    <div class="clearfix">
        <a class="a-author" href="" target="_blank">小熊猫</a>
        <time class="pull-right">今天8:33</time>
    </div>
</article>
<% } %>