<% for (i=1;i<=2;i++) { %>
<article class="art-list-wrap">
    <div class="art-info">
        <h3><a href="" target="_blank">一部超低成本的影片如何制作完成且走向世界</a></h3>
        <div class="item"><span><a href="" target="_blank">小熊猫</a></span><span>今天8:33</span><span>专栏：<a href="" target="_blank">专栏名称</a></span><span>563 阅读</span></div>
        <p>第一次遇见，便被你所吸引，你的宇宙，让我不能自已。 不知从什么时候开始，我的世界，有了一份属于你的位置。 虽然你还不够好，缺点很多，但你的努力， 相信我，我能体会。 一年多了，还记得我们出现时被反对第一次...</p>
    </div>
    <figure><a href="" target="_blank"><img class="img-responsive" src="/images/lazy_article.png" alt=""/></a></figure>
</article>
<% } %>
<article class="art-list-wrap">
    <div class="art-info unimg">
        <h4><a href="" target="_blank">一部超低成本的影片如何制作完成且走向世界</a></h4>
        <div class="item"><span><a href="" target="_blank">小熊猫</a></span><span>今天8:33</span><span>专栏：<a href="" target="_blank">专栏名称</a></span><span>563 阅读</span></div>
        <p>第一次遇见，便被你所吸引，你的宇宙，让我不能自已。 不知从什么时候开始，我的世界，有了一份属于你的位置。 虽然你还不够好，缺点很多，但你的努力， 相信我，我能体会。 一年多了，还记得我们出现时被反对第一次...</p>
    </div>
</article>