<div class="row a-list clearfix">
    <% for(i=1;i<=15;i++) { %>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="block-map-item">
            <div class="per-box clearfix">
                <div class="per-ava"><a href="" target="_blank"><img class="img-circle img-responsive" src="/images/demo/avatar<%=i%>.jpg" alt=""/></a></div>
                <div class="per-info">
                    <h4><a href="" target="_blank">乌龟</a></h4>
                    <p><span>导演</span><span>摄像</span><span>配音师</span></p>
                    <small>狂奔的乌龟^_^ 人生永远只有两个选择，放弃或挺住！</small>
                </div>
            </div>
            <footer class="per-act clearfix">
                <div class="col-xs-3 col-sm-3 item">作品<br><strong>68</strong></div>
                <div class="col-xs-3 col-sm-3 item">粉丝<br><strong>68</strong></div>
                <div class="col-xs-3 col-sm-3 item"><a class="btn-link" href="">发私信</a></div>
                <div class="col-xs-3 col-sm-3 item"><a class="btn-link" href="">+ 加关注</a></div>
            </footer>
        </div>
    </div>
    <% } %>
</div>
<!-- /.a-list -->