<% for (i=1;i<=3;i++) { %>
<div class="block-map-item">
    <div class="per-box clearfix">
        <div class="per-ava"><a href="" target="_blank"><img class="img-responsive" src="/images/demo/avatar<%=i%>.jpg" alt=""/></a></div>
        <div class="per-info">
            <h5><a href="" target="_blank">专栏名称</a></h5>
            <p><span class="label-name">作者：</span><a href="" target="_blank">乌龟</a></p>
            <p class="att-info"><span>123人关注</span><a class="btn-link" href="">+加关注</a></p>
        </div>
    </div>
</div>
<!-- /.block-map-item -->
<% } %>