<div class="filter-wrap">
    <article class="fil-item">
        <div class="fil-pro">类型：</div>
        <div class="fil-val"><a class="cur" href="">全部</a><a href="">短片</a><a href="">微电影</a><a href="">宣传片</a><a href="">MV</a><a href="">后期效果</a><a href="">广告</a><a href="">其他</a></div>
    </article>
    <article class="fil-item">
        <div class="fil-pro">排序：</div>
        <div class="fil-val"><a class="cur" href="">站点推荐</a><a href="">最新发布</a><a href="">喜欢最多</a><a href="">观看最多</a></div>
    </article>
</div>