<% include ../header.ejs %>
<section class="container">
    <div class="row">
        <!-- 左模块 开始-->
        <div class="col-md-8 block-l">
            <div class="col-intro">
                <figure><img class="img-responsive" src="/images/demo/avatar1.jpg" alt=""/></figure>
                <div class="intro-con">
                    <h4>专栏名称</h4>
                    <div class="att-num"><span>1234 人关注</span> <a class="btn-link" href="">关注专栏</a></div>
                    <p>第一次遇见，便被你所吸引，你的宇宙，让我不能自已。 不知从什么时候开始，我的世界，有了一份属于你的位置。 虽然你还不够好，缺点很多，但你的努力， 相信我，我能体会。 一年多了，还记得我们出现时被反对第一次...第一次遇见，便被你所吸引，你的宇宙，让我不能自已。 不知从什么时候开始，我的世界，有了一份属于你的位置。 虽然你还不够好，缺点很多，但你的努力， 相信我，我能体会。 一年多了，还记得我们出现时被反对第一次...</p>
                </div>
            </div>
            <% include ../widget/article-list_widget.ejs %>
        </div>
        <!-- 左模块 结束-->

        <!-- 右模块 开始-->
        <aside class="col-md-4 block-r">
            <!-- 专栏作者 开始 -->
            <div class="u-info-wrap">
                <h3 class="mod-sub-title">专栏作者</h3>
                <% include ../widget/author-sidebar_widget.ejs %>
            </div>
            <!-- 专栏作者 开始 -->

            <!-- 相关专栏 开始 -->
            <div class="u-info-wrap">
                <h3 class="mod-sub-title">相关专栏</h3>
                <% include ../widget/mem-item_widget.ejs %>
            </div>
            <!-- 相关专栏 结束 -->
        </aside>
        <!-- 右模块 结束-->
    </div>
</section>
<% include ../footer.ejs %>
