<% include ../header.ejs %>
<section class="container">
    <div class="row">
        <!-- 左模块 开始-->
        <div class="col-md-8 block-l">
            <h1 class="page-title">我的专栏</h1>
            <ul class="list-unstyled tab-nav clearfix">
                <li><a href="">我发表的文章</a></li>
                <li><a href="">我收藏的文章</a></li>
                <li class="active"><a href="">我关注的专栏</a></li>
                <li><a href="">我创建的专栏</a></li>
            </ul>

            <div class="mem-column-wrap">
                <div class="row">
                    <% for (i=1;i<=6;i++) { %>
                    <div class="col-sm-6">
                        <div class="col-box clearfix">
                            <div class="per-ava"><a href="" target="_blank"><img class="img-responsive" src="/images/demo/avatar<%=i%>.jpg" alt=""/></a></div>
                            <div class="per-info">
                                <h5><a href="" target="_blank">专栏名称</a></h5>
                                <p><span class="label-name">作者：</span><a href="" target="_blank">乌龟</a></p>
                                <p class="att-info"><span>123人关注</span></p>
                            </div>
                            <div class="btn-att"><a href="">+加关注</a></div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <!-- /.mem-column-wrap -->

        </div>
        <!-- 左模块 结束-->

        <!-- 右模块 开始-->
        <aside class="col-md-4 hidden-sm block-r">
            <!-- 热门专栏 开始 -->
            <div class="u-info-wrap">
                <h3 class="mod-sub-title">热门专栏</h3>
                <% include ../widget/mem-item_widget.ejs %>
            </div>
            <!-- 热门专栏 结束 -->
        </aside>
        <!-- 右模块 结束-->
    </div>
</section>
<% include ../footer.ejs %>
